<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(<%= @cocktail.photo %>);">
</div>

<div class="container cocktail-container">
  <div class="cocktail-box" id="name">
    <h1><%= @cocktail.name %></h1>
  </div>

  <div class="cocktail-box" id="doses">
    <ul>
      <% @cocktail.doses.each do |dose| %>
      <li>
        <div><strong><%= dose.ingredient.name %></strong> <%= dose.description %></div>
        <%= link_to dose_path(dose), method: :delete do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </li>
      <% end %>
    </ul>
    <div class="button">
      <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "btn-navbar" %>
    </div>
  </div>
</div>
